<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header Section -->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="images/logo.png" width ="90" height ="80">
                </div>
                <nav class="main-nav">
                    <a href="index.html">Home</a>
                    <a href="#">How it works</a>
                    <a href="signup.html" class="signup-btn">Sign up now</a>
                    <p> </p>
                </nav>
            </div>
            <div class="hero">
                <div class="hero-text">
                    <h1>Savings</h1>
                    <p>Sample text.</p>
                </div>
            </div>
        </div>
    </header>